/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(18, 42, 119);
}

h1 {
  color: #ffffff;
}

p {
  color: hsl(0, 0%, 99%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 20px;
}

.input-container input[type="text"],
.input-container input[type="number"] {
  width: 25%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.input-container button {
  display: inline-block;
  background-color: #002fff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #23abfa;
  color: #ffffff;
}
#token-container{
/* height: 20px; */
}